###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> doctrine/doctrine-bundle ###
/config/secrets/*/*.decrypt.private.php
###< doctrine/doctrine-bundle ###

.idea/
.DS_Store
node_modules/
